.env

docker-airflow/postgres/data
docker-airflow/airflow/config
docker-airflow/airflow/logs
docker-airflow/airflow/plugins
docker-airflow/airflow/dags/__pycache__

docker-jupyter

docker-minio/minio/data
docker-minio/minio/keys

docker-postgis/postgis/data



organizacao-pessoal

jars
