.env

__pycache__
organizacao-pessoal
jars
docker-jupyter

docker-airflow/postgres/data
docker-airflow/airflow/config
docker-airflow/airflow/logs
docker-airflow/airflow/plugins

docker-minio/minio/data
docker-minio/minio/keys

docker-postgis/postgis/data




